{% extends 'base.html' %}
{%  load crispy_forms_tags %}
{% block title %}
cad_cli
{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block main %}
Formulario para cadastro <br>
<form class="d-flex flex-column justify-content-center align-items-center" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row w-100">
        <div class="col-12 col-sm-12 col-md-6">
            {{ form.data_hora_entrada | as_crispy_field }} <br>
            {{ form.id_veiculo | as_crispy_field }} <br>
            {{ form.id_tabela | as_crispy_field }} <br>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            {{ form.data_hora_saida | as_crispy_field }} <br>
            {{ form.total | as_crispy_field }} <br>
            {{ form.pago | as_crispy_field }} <br>
            {{ form.observacoes | as_crispy_field }} <br>
        </div>
    </div>
    <div class="d-flex flex-sm-column flex-md-row align-items-center justify-content-around w-25">
        <button class="btn btn-danger" onclick="window.location.href= '/'">Cancelar</button>
        <button class="btn btn-primary" type="submit">{{ txt_button }}</button>
    </div>
</form>


{% endblock %}